.textBox {
  border: 1px solid #d1d1d1;
  z-index: 0;
}

.verticalLine {
  position: absolute;
  top: -1000px;
  left: 50%;
  width: 1px;
  height: 3000px;
  background-color: #e71515;
  z-index: 3;
}

.horizontalLine {
  position: absolute;
  top: 50%;
  left: -1000px;
  width: 3000px;
  height: 1px;
  background-color: #e71515;
  z-index: 3;
}

.editorContent {
  z-index: 1;
}

.editorContent > * > div {
  outline: none;
}

.textBox:hover div {
  display: block;
}
