.verticalLine {
  position: absolute;
  top: -1000px;
  left: 50%;
  width: 1px;
  height: 3000px;
  background-color: #e71515;
}

.horizontalLine {
  position: absolute;
  top: 50%;
  left: -1000px;
  width: 3000px;
  height: 1px;
  background-color: #e71515;
}

.editorContent {
  z-index: 1;
}

.editorContent > * > div {
  outline: none;
}

.resizeHandles[style*='display: block;'] > div {
  display: block;
}
