.textBox {
  border: 1px solid #d1d1d1;
}

.verticalLine {
  position: absolute;
  top: -1000px;
  left: 50%;
  width: 1px;
  height: 3000px;
  background-color: #e71515;
}

.horizontalLine {
  position: absolute;
  top: 50%;
  left: -1000px;
  width: 3000px;
  height: 1px;
  background-color: #e71515;
}

.editorContent {
  z-index: 1;
}

.textBox:hover div {
  display: block;
}

.resizeHandleSouthEast {
  display: none;
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  background-color: blue;
  cursor: se-resize;
}

.resizeHandleSouth {
  display: none;
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 10px;
  transform: translateX(-50%);
  height: 10px;
  background-color: blue;
  cursor: s-resize;
}

.resizeHandleSouthWest {
  display: none;
  position: absolute;
  bottom: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: blue;
  cursor: sw-resize;
}

.resizeHandleWest {
  display: none;
  position: absolute;
  top: 50%;
  left: -5px;
  width: 10px;
  transform: translateY(-50%);
  height: 10px;
  background-color: blue;
  cursor: w-resize;
}

.resizeHandleNorthWest {
  display: none;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: blue;
  cursor: nw-resize;
}

.resizeHandleNorth {
  display: none;
  position: absolute;
  top: -5px;
  left: 50%;
  width: 10px;
  transform: translateX(-50%);
  height: 10px;
  background-color: blue;
  cursor: n-resize;
}

.resizeHandleNorthEast {
  display: none;
  position: absolute;
  top: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  background-color: blue;
  cursor: ne-resize;
}

.resizeHandleEast {
  display: none;
  position: absolute;
  top: 50%;
  right: -5px;
  width: 10px;
  transform: translateY(-50%);
  height: 10px;
  background-color: blue;
  cursor: e-resize;
}
