.grid {
  display: grid;
  grid-template-rows: 100px 10px 1fr 10px;
  grid-template-areas:
    'toolbar'
    'space1'
    'editSpace'
    'space2';
  width: 100%;
  height: 100vh;
  background-color: #f4f4f4;
}

.toolbar {
  grid-area: toolbar;
}

.editor {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: editSpace;
  overflow: scroll;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.editSpace {
  max-width: 1300px;
  background-color: #fff;
  width: 85%;
  height: auto;
  aspect-ratio: 16/9;
}
