.container {
  display: flex;
}

.content {
  margin-left: 220px;
  padding: 20px;
}

.button {
  padding: 10px 20px;
  background-color: #f3ae00;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #b0a61b;
}
