.toolbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  background-color: #f4f4f4;
}

.select {
  margin-right: 10px;
  padding: 5px;
}

.editor {
  flex-grow: 1;
  margin-left: 20px;
}

.button {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px;
}

.createNewSlideButton {
  background-color: #007bff;
  color: #fff;
}

.createNewSlideButton:hover {
  background-color: #0056b3;
}
