.editorContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.slideContainer {
  flex-grow: 1;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid black;
}

.defaultCursor {
  cursor: default;
}

.drawingCursor {
  cursor: crosshair;
}

.textBox {
  position: absolute;
  border: 1px solid black;
  background: white;
}
